<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>{$Think.SHOP_TILE}</title>
    <link href="{$Think.const.PUBLIC_URL}Home/Goods/css/goods.css" rel="stylesheet">
</head>
<body>
<include file="Public:header" />
<div class="w" style="position: relative">
    <div class="breadcrumb">
        <strong><a href="//shouji.jd.com" clstag="shangpin|keycount|product|mbNav-1">手机</a></strong><span>&nbsp;&gt;&nbsp;<a href="//channel.jd.com/shouji.html" clstag="shangpin|keycount|product|mbNav-2">手机通讯</a>&nbsp;&gt;&nbsp;<a href="//list.jd.com/list.html?cat=9987,653,655" clstag="shangpin|keycount|product|mbNav-3">手机</a>&nbsp;&gt;&nbsp;</span>
        <span><a href="//list.jd.com/list.html?cat=9987,653,655&amp;ev=exbrand_14026" clstag="shangpin|keycount|product|mbNav-4">Apple</a>&nbsp;&gt;&nbsp;<a href="//item.jd.com/1861098.html">APPLEiPhone 6s Plus</a></span>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<include file="Public:footer" />

</body>
</html>